<div class="header">
  <ul class="nav nav-pills pull-right">
<!--
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">About</a></li>
    <li><a ng-href="#">Contact</a></li>
-->
    <li ng-show-auth="login" ng-controller="LoginController"><a href="#" ng-click="logout()">Log Out</a></li>
    <li ng-show-auth="['logout','error']"><a href="#/login">Log In</a></li>
  </ul>
  <h3 class="text-muted">FriendsZone</h3>
</div>

<div class="chat-room" ng-controller="MainCtrl">
	<div  class="message-box" ng-repeat="message in messages">
		<div class="avtar">
			<img class="user-image" src="http://placekitten.com/50/30" alt="Kitten"/>
		</div>
	    <div class="message">
			<span class="message-by" ng-bind="message.postedBy"></span>:
			<p class="message-text" ng-bind="message.text"></p>
			<p class="messaged-at" ng-bind="message.createdAt | date"></p>
		</div>
	</div>
	<form ng-submit="postMessage()">
		<div class="message-box">
			<div class="avtar">
				<img class="user-image" src="http://placekitten.com/50/30" alt="Kitten"/>
			</div>
			<div class="message post-message">
				<span class="message-by" ng-bind="user.email"></span>
				<div class="input-add-on">
					<input class="message-text item-field" ng-model="message.text"/>
					<input type="submit" class="item-title" value="Send">
			    </div>
			</div>
		</div>
	</form>
	<div class="alert user-not loggined">
		<span  ng-bind="loginError"></span>
	</div>
</div>
<div class="footer">
  <p>♥ From the FreeBirds team</p>
</div>
